<%= form_with(model: chatroom, local: true) do |form| %>
  <% if chatroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chatroom.errors.count, "error") %> prohibited this chatroom from being saved:</h2>

      <ul>
      <% chatroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= t('create page chatroom name label') %></strong>
    <div id="text-content">
      <%= form.text_field :name, class: 'form-control'%>
    </div>
  </div>

  <div class="actions">
    <%= form.submit(t('create page chatroom Create Chatroom button'), class: "btn btn-default") %>
  </div>
<% end %>
